<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
   <activity
        android:label="screen orientation activity"
        android:name=".ScreenOrientationActivity"
        android:configChanges="orientation|screenSize"
        android:exported="false"/>
</manifest>