<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidx.test.espresso.web.bridge" >

  <instrumentation
      android:name="androidx.test.runner.AndroidJUnitRunner"
      android:targetPackage="androidx.test.espresso.web.bridge" >
    <meta-data
        android:name="appListener"
        android:value="androidx.test.espresso.web.bridge.JavaScriptInstallerAppListener" />
  </instrumentation>

</manifest>
