// Colors
$color-primary-dark: #003633;
$color-primary: #006662;
$color-primary-contrast: white;

$color-accent: #00E875;
$color-accent-contrast: #003633;

$tac-grey: #e0e0e0;
$tac-code-background: #f7f7f7;

// Dimensions
$side-nav-width: 240px;
$layout-large-screen: 840px;
