
# ShellMain is main access point, must not be obfuscated
-keep class androidx.test.services.shellexecutor.** { *; }

# Brought in via res/layout/ xml.
# Safe to remove, depends on framework depending on version.
-dontwarn android.support.**

-dontwarn java.lang.instrument.**
-dontwarn java.lang.management.**
-dontwarn javax.management.**

# Ignore missing Kotlin meta-annotations so that Java-only projects can depend
# on projects that happen to be written in Kotlin but do not have a run-time
# dependency on the Kotlin standard library. Note these annotations are RUNTIME
# retention, but we won't need them available in Java-only projects.
-dontwarn kotlin.Metadata
-dontwarn kotlin.annotation.AnnotationRetention
-dontwarn kotlin.annotation.AnnotationTarget
-dontwarn kotlin.annotation.Retention
-dontwarn kotlin.annotation.Target