{MODIFY_WARNING}

pluginManagement {
    repositories {
        gradlePluginPortal()
        google()
        mavenCentral()
        mavenLocal()
    }
}
dependencyResolutionManagement {
    repositoriesMode.set(RepositoriesMode.FAIL_ON_PROJECT_REPOS)
    repositories {
        google()
        mavenCentral()
        mavenLocal()
    }
    versionCatalogs {
        libs {
            library('core', 'androidx.test:core:{CORE_VERSION}')
            library('monitor', 'androidx.test:monitor:{MONITOR_VERSION}')
            library('runner', 'androidx.test:runner:{RUNNER_VERSION}')
            library('ext.junit', 'androidx.test.ext:junit:{ANDROIDX_JUNIT_VERSION}')
            library('ext.truth', 'androidx.test.ext:truth:{ANDROIDX_TRUTH_VERSION}')
            library('espresso.accessibility', 'androidx.test.espresso:espresso-accessibility:{ESPRESSO_VERSION}')
            library('espresso.contrib', 'androidx.test.espresso:espresso-contrib:{ESPRESSO_VERSION}')
            library('espresso.core', 'androidx.test.espresso:espresso-core:{ESPRESSO_VERSION}')
            library('espresso.device', 'androidx.test.espresso:espresso-device:{ESPRESSO_DEVICE_VERSION}')
            library('espresso.idlingresource', 'androidx.test.espresso:espresso-idling-resource:{ESPRESSO_VERSION}')
            library('espresso.intents', 'androidx.test.espresso:espresso-intents:{ESPRESSO_VERSION}')
            library('espresso.web', 'androidx.test.espresso:espresso-web:{ESPRESSO_VERSION}')
            library('orchestrator', 'androidx.test:orchestrator:{ORCHESTRATOR_VERSION}')

        }
    }
}

rootProject.name = "Gradle Tests"
include ':runner'
include ':espresso'
include ':espresso:accessibility'
include ':espresso:contrib'
include ':espresso:device'
include ':espresso:idling_resource'
include ':espresso:web'
include ':orchestrator'
