<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2014 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidx.test.ui.app">

  <uses-sdk
      android:minSdkVersion="14"
      android:targetSdkVersion="33"/>

  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!-- Runtime permission APIs -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <queries>
    <package android:name="com.android.contacts" />
  </queries>

  <application
      android:icon="@drawable/ic_launcher"
      android:label="UI Test App"
      android:name="androidx.multidex.MultiDexApplication"
      android:supportsRtl="true"
      android:usesCleartextTraffic="true" >
    <activity android:exported="true"
        android:label="UI Test App"
        android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="test_intent_filter.google.com"
            android:scheme="http"/>
      </intent-filter>
    </activity>
    <activity android:exported="true"
        android:label="actionbar test activity"
        android:name=".ActionBarTestActivity"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
    <activity android:exported="true"
        android:label="simple activity"
        android:name=".SimpleActivity"/>
    <activity android:exported="true"
        android:label="send activity"
        android:name=".SendActivity"/>
    <activity android:exported="true"
        android:label="pick activity"
        android:name=".PickActivity"/>
    <activity android:exported="true"
        android:label="pickers activity"
        android:name=".PickersActivity"/>
    <activity android:exported="true"
        android:label="display activity"
        android:name=".DisplayActivity"/>
    <activity android:exported="true"
        android:label="drawer activity"
        android:name=".DrawerActivity"
        android:theme="@style/Theme.AppCompat.Light"/>
    <activity
        android:exported="true"
        android:label="gesture activity"
        android:name=".GestureActivity"/>
    <activity
        android:exported="true"
        android:label="scroll activity"
        android:name=".ScrollActivity"/>
    <activity
        android:exported="true"
        android:label="list activity"
        android:name=".LongListActivity"/>
    <activity android:exported="true"
        android:label="very long list activity"
        android:name=".VeryLongListViewActivity"/>
    <activity android:exported="true"
        android:label="cursor adapter activity"
        android:name=".CursorAdapterActivity"/>
    <activity android:exported="true"
        android:label="menu activity"
        android:name=".MenuActivity"/>
    <activity android:exported="true"
        android:label="fragment stack activity"
        android:name=".FragmentStack"/>
    <activity android:exported="true"
        android:label="sync activity"
        android:name=".SyncActivity"/>
    <activity android:exported="true"
        android:label="web view"
        android:name=".SimpleWebViewActivity"/>
    <activity android:exported="true"
        android:label="web form"
        android:name=".WebFormActivity"/>
    <activity android:exported="true"
        android:label="swipe activity"
        android:name=".SwipeActivity"/>
    <activity android:exported="true"
        android:label="view pager activity"
        android:name=".ViewPagerActivity"/>
    <activity android:exported="true"
        android:label="recyclerview activity"
        android:name=".RecyclerViewActivity"/>
    <activity android:exported="true"
        android:label="vertical view pager activity"
        android:name=".VerticalViewPagerActivity"/>
    <activity android:exported="true"
        android:label="large view activity"
        android:name=".LargeViewActivity"/>
    <activity android:exported="true"
        android:label="padding activity"
        android:name=".PaddingActivity"/>
    <activity android:exported="true"
        android:label="action bar with v7 search"
        android:name=".ActionBarSearchActivity"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
    <activity android:exported="true"
        android:label="layout issues activity"
        android:name=".LayoutIssuesActivity"/>
    <activity android:exported="true"
        android:label="tool bar activity"
        android:name=".ToolbarActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity android:exported="true"
        android:label="task stack activity"
        android:name=".TaskStackActivity"/>
    <activity android:exported="true"
        android:label="browse the assets"
        android:name=".DynamicWebViewActivity"
        android:windowSoftInputMode="adjustPan"/>
    <activity android:exported="true"
        android:label="transition activity"
        android:name=".TransitionActivityMain"/>
    <activity android:exported="true" android:name=".TransitionDetailActivity"/>
    <activity android:exported="true"
        android:label="Keyboard Test Activity"
        android:name=".KeyboardTestActivity"/>
    <activity android:exported="true"
        android:label="NavigationViewActivity"
        android:name=".NavigationViewActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity android:exported="true"
        android:label="Test Activity for InterceptingActivityFactory"
        android:name=".InterceptingActivity"/>
    <activity android:exported="true"
        android:label="Runtime Permissions"
        android:name=".RuntimePermissionsActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity android:exported="true"
        android:label="Chat Head Activity"
        android:name=".ChatHeadActivity"/>
    <activity android:exported="true"
        android:label="Delayed Dialog Activity"
        android:name=".DelayedDialogActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity android:exported="true"
        android:label="Scaled View Activity"
        android:name=".ScaledViewActivity"/>
    <activity android:exported="true"
        android:label="Idling UI Activity"
        android:name=".IdlingUIActivity" />
    <activity android:exported="true"
        android:label="View With 'textAllCaps' Activity"
        android:name=".ViewWithTextAllCapsActivity" />
    <activity
        android:label="Duplicate View Activity"
        android:name=".DuplicateViewActivity"
        android:exported="false" />
     <activity
        android:label="screen orientation activity"
        android:name=".ScreenOrientationActivity"
        android:configChanges="orientation|screenSize"
        android:exported="false"/>
    <activity
        android:label="screen orientation without onConfigurationChanged activity"
        android:name=".ScreenOrientationWithoutOnConfigurationChangedActivity"
        android:exported="false"/>
    <activity
        android:label="Truncated View Hierarchy Activity"
        android:name=".TruncatedViewHierarchyActivity"
        android:exported="false" />
    <service android:name=".ChatHeadService"/>

    <provider
        android:authorities="androidx.test.ui.app.flights"
        android:exported="false"
        android:name=".provider.FlightsContentProvider"/>
  </application>

</manifest>
